html {
  font-family: 'Nunito', sans-serif;
  height: 100%;
}
body {
  margin: 0px;
  height: 100%;
}
.wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden;

}
.side-menu {
  //min-width: 250px;
  width: 250px;
  float: left;
  background: #fafafa;
  height: auto;
  min-height: 100%;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  border-right: 1px solid #e8e8e8;
  position: fixed;
  margin-top: 45px;
}
.topmenu{
  height: 45px;
  padding: 0px 0px 0px 10px;
  background: #fafafa;
  color: #888;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  height: 45px;
  position: fixed;
  z-index: 1000;
}
.logo {
  background: #fafafa;
  color: #999;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0px 0px 10px;
  height: 35px;

  float: left;
}

a {
  text-decoration: none;
  color: #aaa;
}
.menu ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 10px;
}
.menu ul li a {
  font-size: 12px;
  font-weight: 800;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 98%;
  margin-left: -5px;
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8
}
.menu ul li a:hover {

  border-left: solid 5px #a2c3d3;
  margin-left: -10px;
  width: 98%;
}
.menu form .button:hover {

  border-left: solid 5px #a2c3d3;
  margin-left: -15px;
  width: 100%;
}
.menu ul li ul {
  padding-left:0px;
}
#showmenu {
  font-size: 18px;
  display: inline-block;

  padding-top: 5px;

  float: left;

}
.main-section{
  background: #eee;
  height:100%;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  margin-left: 250px;
}
#resultadoBusqueda{

}
.search {
  width: 60%;
  float: left;

  height: 39px;
  background: #FFF;
  padding-top: 3px;
  padding-bottom: 3px;

  color: #aaa;
}
input.src {
  position: absolute;
  background: none;
  border: none;
  width: 60%;
  padding: 10px 0px 0px 10px;
  font-family: 'Nunito', sans-serif;
  color: #aaa;
  font-size: 18px;
  font-weight: 600;

}
*:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Nunito', sans-serif;
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Nunito', sans-serif;
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Nunito', sans-serif;
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Nunito', sans-serif;
  color: #aaa;
  font-size: 13px;
  font-weight: 600;
}
/*
.card {
  margin: 25px;
  padding: 15px;
  width: 250px;
  background: #fff;
  float: left;
  box-shadow: 0 6px 20px 0px #dce8f4;
}
.card-content {
  color: #32325d;
  font-weight: 600;
  font-size: 18px;

}
*/
.author {
  color: #999999;
  font-size: 36px;
  margin-top: 20px;

}
.status-green {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: #23d2ac;
  margin-bottom: 15px;
}
.status-blue {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: #33adff;
  margin-bottom: 15px;
}
.status-red {
  width: 30px;
  height: 8px;
  border-radius: 10px;
  background: red;
  margin-bottom: 15px;
}
.section-title {
  margin-left: 25px;
  margin-top: 10px;
  font-size: 24px;
  color: #3a3a63;
}


}
.contenido{
  background-color: white;
  text-align: center;

}
article{
  display: inline-block;
  width: 29%;
  margin: 2%;
}

article:not(img){
  text-align: left;
}

@media (max-width: 700px) {
  article{
    display: inline-block;
    width: 46%;
    margin: 2%;
  }
}

@media (max-width: 500px) {
  article{
    display: inline-block;
    width: 98%;
    margin: 2%;
  }
}

.button{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #aaa;
  background-color: #fafafa;
  border: none;
  list-style-type: none;
  cursor: pointer;
  font-weight:  800;
  text-align: left;
  height: 36px;
  margin-left: -5px;
  padding-left: 10px;
}

.iconlogo{
  width: 25px;
  height: 25px;

}

.showm{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 1px;
      width: 45px;
}

.showmn{
  font-size: 43px;
margin-top: -12px;
margin-bottom: 0px;
height: 51px;
text-align: center;
}

.searchicon{
  width: 20px;
  height: 20px;
  padding: 12px 0px 0px 8px;
}

/* contenedores */

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.25s 0s ease-out;
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.025s 0s ease-out;
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 5px auto;
  max-width: 960px;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin:8px;
  max-width: 300px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
div.card img {
  width: 300px;
  height: 100px;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  -webkit-transition: all 0.15s 0s ease-out;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.card div.flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  z-index: -2;

}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.card.show div.flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
